body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: #2757DB;
    padding: 25px;
    font-size: 120%;
}

.work {
    margin-bottom: 1rem;
    padding:10px 0px 30px 0px;
    background-color: #F2E5A2;
    border: solid 1px #333333;
    height: 80px;
    width: 1100px;
}
p {
  text-align: left;
}

div#challenge {
  padding:10px 0px 50px 0px;
}
div#problem{
  padding: 10px 0px 50px 0px;
}
h2 {
  color: maroon;
  text-decoration:underline;
}
h1{
  padding:10px;
  background-color: #F2E5A2;
  border: solid 1px #333333;
  height: 30px

}

h1, h2, h3 {
    font-family: "Courier New", monospace;
}

a {
    text-decoration: none;
    color: maroon;
}
img:hover {
    width: 600px;
}
