body, html {
  height: 100%;
  font-family: "Lucida Console", Monospace;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("img/guycamera.jpg");
  min-height: 75%;
}
.nav{
 letter-spacing: 5px;

}
.menu {
  display: none;
}
.title {
  text-align: center;
}

.Title{
  background: url("img/cat.jpg");
 background-color: #cccccc;
 text-align: center;
}
.Title img{
  width: 98vw;
}
.Address {
  margin-left: 1785px;
  margin-top: 475px;
  position: absolute;
  font-weight: bold;
  font-size: 30px;
}

.desc {
  margin-left: 10px;
  background-color: black;
  color: white;
  position: absolute;
  font-size: 50px;
}

 .about {
   position: absolute;
   margin-top: 50px;
   background-color: white;
   width: 300px;
   border: 15px solid white;
   padding: 50px;
 }

.square {
  width: 10px;
 height: 100px;
 position: absolute;
 margin-top: 300px;
 background: grey;
}

.square2 {
  width: 10px;
 height: 100px;
 position: absolute;
 margin-top: 200px;
 margin-left: 415px;
 background: grey;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


.footer {
   position: relative;
   left: 0;
   bottom: -500px;
   background-color: grey;
   color: white;
   padding: 5px 10px 10px 10px;
}

 width
::-webkit-scrollbar {
  width: 10px;
}

/ Track /
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/ Handle /
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/ Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
