@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Sansita+Swashed:wght@700&display=swap');
nav{
  font-family: Helvetica, Verdana, Arial, "san serif";
  background-color: #F2E5A2;
  padding: 5px;
  border: dashed 10px #2F4858;
  margin-bottom: 20px;
}
iframe#fake {
    width: 800px;
    height: 500px;
    resize: both;
    overflow: hidden;
}
{}
h1{
  font-style: oblique;
}

main#content {
  margin-top: 10px;
    padding: 50px;
    background-color: #F2E5A2;
    border: dashed 10px #2F4858;
    height: 270vh;
}

div#labs{
  padding: 30px;
  height: 60vh;
  background-color: #4C8B86;
  border: dotted 5px #2F4858;
  margin-bottom: 10vh;
}


 p{
    color: #FEF9EA!important;
}

body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: #AECB95;
    padding: 25px;
    font-size: 120%;
}

h2{
font-family: 'Sansita Swashed', cursive;
letter-spacing: normal;
  color: #C1CF87;
}
p{
  font-family: 'Merriweather', serif;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
