section h1{
  color: white;
}
section p{
  color: white;
}
header{
  font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: #C5E6FF;
    padding: 5px;
    border: dashed 10px #2F4858;
    margin-bottom: 20px;
    width:100%;
}
.flex-container{
  background-color: #597A98;
}
nav#sidenav{
    background-color: #C5E6FF;
    padding: 15px;
    font-size: 120%;
    height: 10vh;
    width: 45%;
    border: dashed 10px #2F4858;
    margin-bottom: 10px;
}
aside#images{
    background-color: #C5E6FF;
    padding: 15px;
    font-size: 120%;
    width: 25%;
    border: dashed 10px #2F4858;
    height: 92vh;

}
main#section{
  background-color: #C5E6FF;
  padding: 5px;
  height: 120vh;
  border: dashed 10px #2F4858;
  width:60%;
}
section{
  padding:30px;
  margin-bottom: 195px;
  margin-top: 75px;
  background-color: #597A98;
  border: dotted 5px #C5E6FF;
  width:90%;
  height: 110vh
}

footer{
  background-color: #C5E6FF;
  padding: 5px;
  border: dashed 10px #2F4858;
  margin-top: 15px;
  width: 100%;
}

ul {
   list-style-type: none;
   text-align: right;
}
li{
  display: inline;
}
.flex-container{
  display:flex;
  flex-wrap: wrap;
}
.flex{
  flex-wrap: wrap;
}
.image{
  width:200px;
}
@media screen and (max-width:750px) {
  .flex {
    width:100% !important;
  }
}
body{
  font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: #597A98;
}
