body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: #2757DB;
    padding: 25px;
    font-size: 120%;
}

div#woop {
    padding: 50px;
    background-color: #F2E5A2;
    border: solid 1px #333333;
    height: 95vh;
}

h1, h2, h3 {
    font-family: "Courier New", monospace;
}
