nav{
  font-family: Helvetica, Verdana, Arial, "san serif";
  background-color: #F2E5A2;
  padding: 5px;
  border: dashed 10px #2F4858;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
}

body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: #AECB95;
    padding: 25px;
    font-size: 120%;
}

div#content {
  margin-top: 10px
    padding: 50px;
    background-color: #F2E5A2;
    border: dashed 10px #2F4858;
    height: 80vh;
}

h1, h2, h3 {
    font-family: "Courier New", monospace;
}

img {
    float: right;
    width: 300px;
    position: relative;
    top: -100px;
}

a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
